[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = {extras = ["markdown"], version = "*"}
pelican-avatar = "*"

[dev-packages]

[scripts]
pelican-content = "pelican content"
pelican-listen = "pelican --listen"
pelican-reload = "pelican -s pelicanconf.py --autoreload --listen"

[requires]
python_version = "3.8"
